*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: sans-serif;
    color: blue;
    margin: 10px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

.nav { 
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0%;
}

.nav {
    display: inline-block;
}

.nav a {
    color: chocolate;
    background-color: aqua;
    padding: 5px;
    border-radius: 2;
    text-decoration: none;
}

.nav .blog {
    background-color: blueviolet;
}
