/*rem = siempre tiene referencia al estilo de la etiqueta root o el root del proyecto que siempre es HTML que el navegador le da una fuente de 16px
esto lo que hara es darle a el html un valor de 10px ya que 16px - 62.5% = 10px
ahora si por ejemplo a una etiqueta le asignamos 2rem este hara referencia a 20px, o si por ejemplo le damos un valor de 1.5rem su valor sera de 15px*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

p { 
    font-size: 1.6rem;
}

man div {
    font-size: 1.6rem;
}